.container {
  :global {
    .ant-card-body {
      padding: 0px 20px !important;
    }
  }
}

.remark {
  :global {
    .ant-card-body {
      padding: 15px !important;
    }
  }
}

.borderRight {
  border-right: 1px @color-black-4 solid;
}
