<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <title>项目管理系统</title>
  <link rel="shortcut icon" type="image/x-icon" href="<%= context.publicPath %>./icons/logo.png" />

</head>

<body>
  <div id="root"></div>
  <script type="text/javascript">window.routerBase = '/v2';</script>

  <script>
    const { hostname } = window.location;
    if (hostname.includes('kk.hz.netease.com') || hostname.includes('ep.netease.com')) {
      window.MUSIC_APM = {
        url: 'https://s6.music.126.net/static_public/5c25ca49ac1f4d2d427da0fa/1.1.7/musicapm.min.js',
        appkey: '576782a3-817b-4675-bad3-794eab208ae7',
        options: {
          enableSPA: true,
        }
      };
      (function (e, n, t) { var o = e.MUSIC_APM, i = n.getElementsByTagName(t)[0], r = n.createElement(t); r.src = o.url, r.crossorigin = "anonymous", r.addEventListener("load", function () { e.MusicAPM.install(o.appkey, o.options) }), i.parentNode.insertBefore(r, i) })(window, document, "script");
    }

    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    if (hostname.includes('kk.hz.netease.com') || hostname.includes('ep.netease.com')) {
      gtag('js', new Date());
      gtag('config', 'UA-147262351-1', { 'send_page_view': true });
    }
  </script>

  <script type="text/javascript" src="//at.alicdn.com/t/font_1520787_k2f4xsdsto.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147262351-1"></script>
  <script src="<%= context.publicPath %>./tinymce/js/tinymce/tinymce.min.js"></script>

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-49ELM1L14F"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-49ELM1L14F');
  </script>
</body>

</html>
